@model FavoriteViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Избранное";
}

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Избранное</h2>
</div>

@if (Model != null && Model.Items?.Count > 0)
{
    <div class="row justify-content-center mt-3">
        @foreach (var product in Model.Items)
        {
            <div class="col-3 mb-3">
                <div class="card shadow">
                    <img class="card-img-top" src="@(string.IsNullOrEmpty(product.ImagePath)
           ? "/img/contact.png"
           : product.ImagePath)">
                    <div class="card-body text-center">
                        <a class="text-success"
                           asp-area=""
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-id="@product.Id">
                            <h5>@product.Name</h5>
                        </a>
                        <h2 class="text-danger">@product.Cost</h2>
                        <hr />
                        <h6>@product.Description</h6>
                        <hr />
                        <a class="btn btn-success"
                           asp-area=""
                           asp-controller="Cart"
                           asp-action="Add"
                           asp-route-productId="@product.Id">
                            Добавить в корзину
                        </a>
                        <a class="btn btn-outline-danger mt-3"
                           asp-area=""
                           asp-controller="Favorite"
                           asp-action="Delete"
                           asp-route-productId="@product.Id">
                            Убрать из избранного
                        </a>
                    </div>
                </div>
            </div>
        }

        <div class="text-center mt-5">
            <a class="btn btn-outline-danger"
               asp-area=""
               asp-controller="Favorite"
               asp-action="Clear">
                Очистить список избранного
            </a>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h2 class="row-title">В списке избранного нет товаров!</h2>
    </div>

}

<div class="text-center m-5">
    <a class="btn btn-outline-success"
       asp-area=""
       asp-controller="Home"
       asp-action="Index">
        Продолжить покупки
    </a>
</div>