@model ProductViewModel
@{
    Layout = "_Layout";
}

<div class="row justify-content-center">
    @if (Model != null)
    {
        <div class="col-3 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="@(string.IsNullOrEmpty(Model.ImagePath) 
           ? "/img/contact.png" 
           : Model.ImagePath)" alt="@Model.Name" />
                <div class="card-body text-center">
                    <h4>@Model.Name</h4>
                    <h2 class="text-danger">@Model.Cost.ToString("c")</h2>
                    <div class="d-flex gap-2">
                        <a class="btn btn-success" 
                        asp-area="" 
                        asp-controller="Cart" 
                        asp-action="Add" 
                        asp-route-productId="@Model.Id">Добавить в корзину</a>
                        <a class="btn" style="background-color: #e83e8c; color: white;" asp-controller="Favorite" asp-action="Add" asp-route-productId="@Model.Id">Добавить в избранное</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h6>@Model.Description</h6>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="col-auto m-5">
            <h2>Такого товара не существует!</h2>
        </div>
    }
</div>


<div class="row justify-content-center">
    <div class="col-auto m-5">
        <a asp-area=""  
        asp-controller="Home" 
        asp-action="Index" class="btn btn-outline-success">Продолжить покупки</a>
    </div>
</div>