@model UserViewModel
@{
    ViewData["Title"] = "Пользователь";
    Layout = "_Layout";
}

<div class="row mt-3">
    @await Html.PartialAsync("SideBar")

    <div class="col-9 mb-3">
        <div class="text-center text-uppercase text-success mb-5 mt-5">
            <h2 class="row-title">Пользователь</h2>
        </div>
        <form method="post">

            @if (Model != null)
            {
                <input type="hidden" name="Id" value="@Model.Id" />

                <div class="text-end mt-5">
                    <button class="btn btn-outline-success dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Действия
                    </button>
                    <ul class="dropdown-menu list-group-item-success" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item"
                               asp-area="Admin"
                               asp-controller="User"
                               asp-action="ChangePassword"
                               asp-route-id="@Model.Id">
                                Смена пароля
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               asp-area="Admin"
                               asp-controller="User"
                               asp-action="Update"
                               asp-route-id="@Model.Id">
                                Редактирование данных
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               asp-area="Admin"
                               asp-controller="User"
                               asp-action="ChangeRole"
                               asp-route-id="@Model.Id">
                                Смена прав доступа
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" data-bs-target="#Returned" data-bs-toggle="modal">
                                Удалить пользователя
                            </a>
                        </li>
                    </ul>
                </div>

                <table class="table table-hover">
                    <tr>
                        <td><span>ID</span></td>
                        <td>@Model.Id</td>
                    </tr>
                    <tr>
                        <td><span>Email (логин)</span></td>
                        <td class="fw-bold">@Model.UserName</td> 
                    </tr>
                    <tr>
                        <td><span>Имя</span></td>
                        <td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <td><span>Фамилия</span></td>
                        <td>@Model.LastName</td>
                    </tr>
                    <tr>
                        <td><span>Телефон</span></td>
                        <td>@Model.Phone</td>
                    </tr>

                    <tr>
                        <td><span>Роль</span></td>
                        <td>@Model.RoleName</td>
                    </tr>
                    <tr>
                        <td class="w-25"><span>Дата регистрации</span></td>
                        <td class="w-auto">@Model.CreationDateTime</td> 
                    </tr>
                </table>
            }
            else
            {
                <div class="text-center">
                    <h2>Такого пользователя не существует!</h2>
                </div>
            }
            <div class="modal fade" id="Returned" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalWindow" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title fw-bold" id="modalWindow">Удаление пользователя</p>
                        </div>
                        <div class="modal-body">
                            Вы действительно хотите удалить пользователя "@Model.UserName"? 
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-danger w-25" type="submit"
                                    asp-area="Admin"
                                    asp-controller="User"
                                    asp-action="Delete"
                                    asp-route-id="@Model.Id">
                                Удалить
                            </button>

                            <a class="btn btn-outline-success w-25" role="button" data-bs-dismiss="modal"
                               asp-area="Admin"
                               asp-controller="User"
                               asp-action="Index">
                                Отмена
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>