@if (Model != null && Model.Count > 0)
{
    @foreach (var product in Model)
    {
        <div class="col-3 mb-3">
            <div class="card shadow">
                <img class="card-img-top" src="@(string.IsNullOrEmpty(product.ImagePath)
           ? "/img/contact.png"
           : product.ImagePath)" alt="...">
                <div class="card-body text-center">
                    <a class="text-success"
                       asp-area=""
                       asp-controller="Product"
                       asp-action="Index"
                       asp-route-id="@product.Id">
                        <h5>@product.Name</h5>
                    </a>
                    <h2 class="text-danger">@product.Cost.ToString("c")</h2>
                    <a class="btn btn-success"
                       asp-area=""
                       asp-controller="Cart"
                       asp-action="Add"
                       asp-route-productId="@product.Id">
                        Добавить в корзину
                    </a>
                    <a class="btn btn-outline-secondary mt-3"
                       asp-area=""
                       asp-controller="Favorite"
                       asp-action="Add"
                       asp-route-productId="@product.Id">
                        Добавить в избранное
                    </a>
                    <a class="btn btn-outline-secondary mt-3"
                       asp-area=""
                       asp-controller="Comparison"
                       asp-action="Add"
                       asp-route-productId="@product.Id">
                        Добавить в сравнение
                    </a>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="text-center">
        <h2>Нет товаров для отображения!</h2>
    </div>
}